* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header {
    padding-top: 16px;
    
}

nav {
    /* border: 1px solid black; */
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.menu {
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
}

.menu a {
    text-decoration: none;
    color: #000000;
  
}

#options-bar{
    display: flex;
}

#button{
    padding-left: 346px; 
     /* (here I have separated the early access button and options) */
}

.btn{
    color: white;
    font-size: 16px;
    font-weight: 600;
    background-color: #469165;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
}

/* ---------------------------------Nav Bar done------------------------------------- */

#banner{
    background: url("../images/hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 674px;
    width: 100%;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#button-2{
    font-size: 16px;
    color: green;
    font-weight: 500;
    background-color: white;
    border-radius: 1000px;
    padding: 8px 12px 9px 34px; 
}
.button-3{
     color: white;
    border-radius: 4px;
    background-color:#469165;
    font-size: 16px;
    font-weight: 500;
    padding: 16.5px 30px 16.5px 16.5px ;
    border: none;
    margin-right: 16px;
}

.button-3 i{
    padding-left: 10px;
}


.button-4{
    color: white;
    border-radius: 4px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    padding: 15px 15px 15px 30px;
    border:2px solid white  ;
}

.button-4 i{
    padding-right:  22px;
}

.content-container{
    max-width: 1360px;
    width: 85%;
    justify-content: center;
    text-align: center;
    
    margin: 0 auto;
    
}

.content-container h1{
    font-size: 72px;
    font-weight: bold;
    color: white;
    padding-top: 24px;
}
.content-container h2{
      font-size: 72px;
    font-weight: bold;
    color: #30B868;
}

.content-container p{
    font-size: 18px;
    color: white;
    line-height: 24px;
    margin-top: 16px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}
